<?xml version="1.0"?>
<ruleset name="brandon14/fossabot-commander-laravel Standard" namespace="App\CS\Standard">
  <description>The phpcs coding standard for the brandon14/fossabot-commander-laravel project.</description>

  <!-- Only process .php files. -->
  <arg name="extensions" value="php" />
  <!-- Show all errors. -->
  <arg name="error-severity" value="1" />
  <!-- Hide warnings. -->
  <arg name="warning-severity" value="0" />
  <arg name="colors" />
  <arg value="sp" />

  <!-- Ignore vendor folder. -->
  <exclude-pattern>vendor</exclude-pattern>
  <!-- Exclude tests -->
  <exclude-pattern>tests</exclude-pattern>

  <rule ref="PSR2" />

</ruleset>
