<?xml version="1.0"?>
<ruleset name="brandon14/fossabot-commander-laravel PHPMD Ruleset"
         xmlns="http://pmd.sf.net/ruleset/1.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://pmd.sf.net/ruleset/1.0.0 http://pmd.sf.net/ruleset_xml_schema.xsd"
         xsi:noNamespaceSchemaLocation="http://pmd.sf.net/ruleset_xml_schema.xsd">
    <description>
        This custom phpmd ruleset starts with all rules enabled. The rule swill be slowly adjusted as needed.
    </description>

    <rule ref="rulesets/cleancode.xml">
        <exclude name="StaticAccess"/>
        <exclude name="BooleanArgumentFlag"/>
        <exclude name="ElseExpression"/>
    </rule>
    <rule ref="rulesets/cleancode.xml/StaticAccess">
        <properties>
            <property name="ignorepattern" value="/^create.*/i" />
        </properties>
    </rule>
    <rule ref="rulesets/cleancode.xml/BooleanArgumentFlag">
        <properties>
            <property name="ignorepattern" value="/^runCommand.*/i" />
        </properties>
    </rule>
    <rule ref="rulesets/codesize.xml">
        <exclude name="TooManyPublicMethods"/>
        <exclude name="ExcessiveParameterList"/>
    </rule>
    <rule ref="rulesets/codesize.xml/TooManyPublicMethods">
        <properties>
            <property name="maxmethods" value="15" />
        </properties>
    </rule>
    <rule ref="rulesets/codesize.xml/ExcessiveParameterList">
        <properties>
            <property name="minimum" value="15" />
        </properties>
    </rule>
    <rule ref="rulesets/controversial.xml" />
    <rule ref="rulesets/design.xml">
        <exclude name="CouplingBetweenObjects"/>
    </rule>
    <rule ref="rulesets/design.xml/CouplingBetweenObjects">
        <properties>
            <property name="maximum" value="20" />
        </properties>
    </rule>
    <rule ref="rulesets/naming.xml">
        <exclude name="ShortVariable"/>
        <exclude name="ShortMethodName"/>
    </rule>
    <rule ref="rulesets/naming.xml/ShortVariable">
        <priority>1</priority>
        <properties>
            <property name="minimum" value="2" />
        </properties>
    </rule>
    <rule ref="rulesets/naming.xml/ShortMethodName">
        <priority>1</priority>
        <properties>
            <property name="minimum" value="2" />
        </properties>
    </rule>
    <rule ref="rulesets/unusedcode.xml" />

    <!-- Ignore vendor folder -->
    <exclude-pattern>vendor</exclude-pattern>
    <!-- Ignore tests folder -->
    <exclude-pattern>tests</exclude-pattern>
    <!-- Ignore doctum folders -->
    <exclude-pattern>docs</exclude-pattern>
    <exclude-pattern>doctum_cache</exclude-pattern>
</ruleset>
